<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>edit</h1>
<p>
    <a href="/book">book list</a>
</p>
<th:block th:if="${message}">
    <p style="color: green" th:text="${message}"></p>
</th:block>

<form th:action="@{/edit}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td> name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td> author:</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category">
                    <option th:each="p : ${categorys}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{category.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update book"></td>
        </tr>
    </table>
</form>
</body>
</html>